@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-main-bg;
  }
}

@layer components {
  .absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
    background: none !important;
    border-radius: 0 !important;
    @apply !shadow-none border-b-2 border-primary;
  }
  .input {
    @apply bg-white placeholder:text-neutral-900 h-[2.5em] text-13px text-neutral-900 py-2 px-3 focus:outline-none border-2 border-border-main rounded-md;
  }
  .label {
    @apply text-neutral-400 text-base capitalize font-normal leading-tight;
  }
  .media {
    border-radius: 8px;
    border: 1px dashed rgba(23, 102, 226, 0.4);
  }
}
/* styles.css */
.select-container {
  position: relative;
}

.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 0.75rem 2rem 0.65rem 0.75rem;
  background-color: #fff;
  border: 1px solid #e9e8eb;
  border-radius: 0.375rem;
  outline: none;
  color: #22262d;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.select-container select:hover {
  border-color: #a0aec0;
}

/* .select-container select:focus {
  border-color: #5a67d8;
  box-shadow: 0 0 0 3px rgba(90, 103, 216, 0.2);
} */

.select-container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.75rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a0aec0;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Optional: Styling the options list */
.select-container select option {
  padding: 0.75rem;
}
